@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #f7f0ec;
  --primary-color: #a73c03;
  --secondary-color: #dbb006;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

.skills{
    max-width: 68.7rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skills-header{
    margin-bottom: 1rem;
  }
  
  .skills-wrapper img{
    padding: 1.25rem;
  }
  